html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,menu,nav,section,time,mark,audio,video,details,summary{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}article,aside,figure,footer,header,nav,section,details,summary{display:block}img{max-width:100%;vertical-align:bottom}html{overflow-y:scroll}ul,ol{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{-webkit-tap-highlight-color:transparent}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:collapse;border-spacing:0}th{font-weight:bold;vertical-align:bottom}td{font-weight:normal;vertical-align:top}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}input,input:focus{outline:none;-webkit-tap-highlight-color:transparent}input[type="radio"]{vertical-align:text-bottom}input[type="checkbox"]{vertical-align:bottom}.ie7 input[type="checkbox"]{vertical-align:baseline}select,input,textarea{font:99% sans-serif}table{font-size:inherit;font:100%}small{font-size:85%}strong{font-weight:bold}td,td img{vertical-align:top}sub,sup{font-size:75%;line-height:0;position:relative}sup{top:-0.5em}sub{bottom:-0.25em}pre,code,kbd,samp{font-family:monospace, sans-serif}.clickable,label,input[type=button],input[type=submit],input[type=file],button{cursor:pointer;-webkit-appearance:none}button,input,select,textarea{margin:0}button,input[type=button]{width:auto;overflow:visible}input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"],input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button{padding:0;margin:0}
.clearfix:before, .clearfix:after { content: ""; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
body{list-style:none; min-width: 1000px; font-family: 'Microsoft Yahei'; font-size:14px;}
input{font-family: 'Microsoft Yahei'; font-size:16px;}
a{text-decoration: none;}
.fl{ float:left; }
.fr{ float:right; }
.box-shadow{ -webkit-box-shadow: 3px 3px 3px #d1d1d1; -moz-box-shadow: 3px 3px 3px #d1d1d1; box-shadow: 3px 3px 3px #d1d1d1; }
.box-shadow:hover{ -webkit-box-shadow: 3px 3px 3px #9d9d9d; -moz-box-shadow: 3px 3px 3px #9d9d9d; box-shadow: 3px 3px 3px #9d9d9d; }
.header, .footer{width:100%; height:auto;}
.header{position: relative; height:auto;}
.search-bg, .course-list, .top-body, .footer-bod{width:1000px; height:auto; margin:0 auto; }
.search-bg{height:468px; background: url(../imgs/search_bg.png) center center no-repeat; background-size:100%; }
.search-bg .search-box{padding-top:240px; width:540px; height:auto; margin:0 auto; position: relative;}
.search-box span{display:block; width:540px; height:50px; position: absolute; left:0; top:200px; padding:0 40px 0 20px; box-sizing:border-box;}
.search-box span.s-bg{z-index:2;  background:#6c6c6c; opacity: 0.36; filter:alpha(opacity=36);}
.search-box span.s-c{z-index:3; }
.search-box span.s-c em{display:block; position: absolute; right:0; top:0; width:40px; height:50px; background:url(../imgs/icon_search.png) no-repeat 0 center; cursor: pointer;}
.search-box span input{width:100%; height:100%; line-height: 50px; border:0; background:none; outline: none; color:#f1f1f1;}
.search-box p{width:100%; padding:20px 0 0 20px; font-size:16px;}
.search-box p, .search-box p a{color:#fff; }
.search-box p a{font-size:14px; }
.search-box p a:hover{color:blue;}
.top{position: absolute; left:0; top:0; width:100%; height:80px; background:#000; opacity:0.65; filter:alpha(opactiy=65); z-index: 9;}
.top-body, .top-body div{height:100%;}
.top-body .logo{width:200px; background:url(../imgs/logo.png) left center no-repeat;}
.top-body .info{width:200px; text-align: right; padding-right:10px; box-sizing:border-box; line-height: 80px; color:#fff; position: relative;}
.top-body .info span{display:inline-block; padding-left:40px; width:auto; height:100%; padding-right:10px; background: url(../imgs/icon_user.png) left center no-repeat;}
.info .user-info{position: absolute; right:0; top:80px; width:160px; height:auto; background:#000; }
.info .user-info a{display:block; color:#fff; line-height: 40px; text-align: left; padding:0 20px; }
.info a:hover{background:#ccc url(../imgs/icon_user.png) left center no-repeat;}
.info .user-info a:hover{background:#757575; }
.info .user-info a:nth-of-type(1){border-bottom: 1px solid #ccc;}
.course-list h2{ height:76px; line-height:76px; font-weight: normal; margin:32px 0; background:#f6f6f6; position: relative;}
.course-list h2 > ul.menu-list{position:absolute; left:0; top:76px; width:220px; min-height:180px; box-sizing:border-box; z-index:22; background-color: #57ac7f;}
.course-list h2 .menu-list li {width:100%; color: white; font-size: 20px; line-height: 50px; height: 50px; padding-left: 25px; box-sizing: border-box;}
.course-list h2 .menu-list li:hover {background-color: #68b48c;}
.course-list h2 .menu-list li a{width:100%; display:block; cursor: pointer;}
.course-list h2 > span:nth-of-type(1){font-size:30px; color:#666666; padding-left:70px; width:150px; background:#57ac7f url(../imgs/icon_course.png) left center no-repeat; color: #ffffff; display:inline-block; cursor: pointer;}
.course-list h2 > span:nth-of-type(2){padding-left:40px; display: inline-block; font-size: 20px;}
.course-list h2 > span:nth-of-type(2) span{padding-left:30px; background:url(../imgs/icon_gray.png) left center no-repeat; margin-right:50px; height:100%;display: inline-block; cursor: pointer;}

.course-list h2 > span:nth-of-type(2) span.on{padding-left:40px; background:url(../imgs/icon_green.png) left center no-repeat; font-size:24px; color: #57ac7f;}
.course-list ul.item{width: 120%; height:auto;}
.course-list ul.item li{width:232px; height:156px; margin-right:24px; margin-bottom: 20px; float:left; position: relative; overflow:hidden;}

.course-list ul.item li .course-intro{position: absolute; left:0; top:112px; padding:10px 12px 0 12px; width:232px; height:auto; background-image: url(../imgs/bg-course.png); transition: top .5s; color:#fff;	}
.course-list ul.item li:hover .course-intro {top: 55px}

.course-intro h3{font-weight: 400; font-size:16px;}
.course-intro p{font-size:12px; margin-top:10px; line-height: 20px; height:60px; overflow:hidden;}
.page{width:100%; height: 24px; margin:0 0 20px 0; text-align: right; background:;}
.page a, .page span{display:inline-block; width:20px; text-align: center; padding:4px 0;}
.page a{color:#666666;}
.page a.curr{color:#57ac7f; background-color: rgb(228, 228, 228);}
.page a:first-child, .page a:last-child{width:40px; background:rgb(87, 172, 127); text-align: center; color:#fff;}
.page a.bg-gray{background:#efefef; }
.page a.bg-green{background:#57ac7f; }


.footer{padding:50px 0 100px 0; background:#2c2a33;}
.footer .footer-body{width:1000px; height:auto; margin:0 auto;  position: relative; }
.footer-body ul{float:left; width:30%;}
.footer-body ul:nth-of-type(1){width:26%;}
.footer-body ul:nth-of-type(2), .footer-body ul:nth-of-type(3){width:32%;}

.footer-body ul li, .footer-body ul li a{color:#ffffff; font-size:16px;}
.footer-body ul li a:hover{color: blue;}
.footer-body ul .title{font-size:22px;}
.footer-body ul li:nth-of-type(2){padding-top:36px;}
.footer-body ul li:nth-of-type(3){padding-top:21px;}
.footer-body ul li:nth-of-type(4){padding-top:21px;}

.qr_code{position: absolute; right: 0; top:0;width:118px; height: 118px; background:url(../imgs/qrcode.jpg);  background-size: cover;z-index:2; }

.box-shadow-detial{ -webkit-box-shadow: 3px 3px 3px #9d9d9d; -moz-box-shadow: 3px 3px 3px #9d9d9d; box-shadow: 3px 3px 3px #9d9d9d; }
.detail-header{height:85px;}
.detial-body {width:968px; height:auto; margin:0 auto; margin-top:35px;}
.part1{padding:54px 40px; background:#f6f6f6;}

.part1 img, .part1 ul{float:left; height:295px; overflow:hidden;}
.part1 ul {width:390px; float:right; position: relative;}
.part1 ul li:nth-of-type(1){font-size:30px; color:#272536; padding-bottom:10px;}
.part1 ul li:nth-of-type(2){font-size:16px; color:#9a9a9a; line-height:30px;}
.part1 ul li:nth-of-type(3){position: absolute; bottom:0;}
.part1 ul li:nth-of-type(3) a{width:198px; height:52px; text-align: center; line-height: 52px; color:#ffffff; background:#57ac7f; font-size:26px; display:inline-block;}
.tab-menu {width:100%; height:90px; margin-top:25px; background:#f0f0f0;}
.tab-menu span{display:inline-block; padding-left:82px; width:112px; line-height: 90px; position: relative; color:#757575; font-size:20px; cursor:pointer;}
.tab-menu span:nth-of-type(1){background:url(../imgs/icon_menu1.png) 38px center no-repeat;}
.tab-menu span:nth-of-type(2){background:url(../imgs/icon_menu2.png) 38px center no-repeat;}
.tab-menu span:nth-of-type(3){background:url(../imgs/icon_menu3.png) 38px center no-repeat;}
.tab-menu span em{display: none; position: absolute; left:38px; bottom:-16px; width:0; height:0; border-left:15px solid transparent; border-right:15px solid transparent; border-top:20px solid #f0f0f0; }
.tab-menu span.on{color:#57ac7f;}
.tab-menu span.on em{display: block;}
.tab-menu span.on:nth-of-type(1){background:url(../imgs/icon_menu1_active.png) 38px center no-repeat;}
.tab-menu span.on:nth-of-type(2){background:url(../imgs/icon_menu2_active.png) 38px center no-repeat;}
.tab-menu span.on:nth-of-type(3){background:url(../imgs/icon_menu3_active.png) 38px center no-repeat;}
.detial-body .content{width:100%; height:auto; padding:33px 0; margin-bottom: 20px; background:#f0f0f0; margin-top:20px;}
.detial-body .content div{width:818px; height:auto; margin:0 auto; display:none;}

.ly-body{background:#000 url(../imgs/bg.png) center center repeat-y;}
.ly-main{width:1002px; height:auto; margin:0 auto;}
.ly-main div p{position: absolute; z-index:5; color: #fff;}
.ly-main div:nth-of-type(1){height: 1325px; background:url(../imgs/bg_01.png) center center no-repeat; position: relative;}
.ly-main div:nth-of-type(1) p{position:absolute; left:330px; top:540px; width:700px; height:436px; overflow:hidden; color:#fff;  line-height:18px;}
.ly-main div:nth-of-type(2){height:1013px; background:url(../imgs/bg_02.png) center center no-repeat; position: relative;}
.ly-main div:nth-of-type(2) p{position: absolute; left:310px; top:355px; z-index:5; width:650px; height:300px; overflow:hidden; line-height: 40px; font-size:18px;}
.ly-main div:nth-of-type(3){height:1554px; background:url(../imgs/bg_03.png) center center no-repeat; position: relative;}
.ly-main div:nth-of-type(3) span{position: absolute; z-index: 5; font-size: 12px; color:#fff; text-align: center; width:212px; height:16px; padding:27px 0; line-height:16px;  display: block; font-size:14px;}
.ly-main div:nth-of-type(3) span.l{padding:22px 0; line-height: 20px;}
.ly-main div:nth-of-type(4){height:1356px; background:url(../imgs/bg_04.png) center center no-repeat;}

.ly-body header{ background:#000009; position: absolute; z-index:5; width:100%; opacity: 0.8; filter:alpha(opacity=80);}
.ly-body .header_body{width:1000px; height:auto; margin:0 auto;}
.ly-body .logo, .nav, .info{float:left; height:70px;}
.ly-body .logo{width:180px; background: url(../imgs/logo.png);}
.ly-body .info, .info {width:760px; height:70px;  line-height:70px; float:right; }
.ly-body .info a, .info a{display: inline-block; height:100%; width:180px; text-align: center; color:#ffffff;}
.ly-body .info a:hover, .info a:hover{background:none;}

.qa-header, .qa-header .top{ position:static;}
.qa-body{width:960px; margin:20px auto; background:#f1f1f1; min-height:960px; padding:10px 20px; }
.qa-body .item{border-bottom: 2px dashed #d1d1d1; margin: 5px 0;}
.qa-body h2{font-size:19px; color:#2a9e79; font-weight: normal; line-height:50px; padding-left:30px; box-sizing:border-box; background:url(../imgs/icon_qa.png) 0 center no-repeat;}
.qa-body div.answer{padding-left:30px; line-height: 40px; font-size:16px; color:#9b9899;}

.no-service{width:380px; height:160px; margin: 50px auto;}
.no-service p{font-size:30px; color:#2b1f30;}
.no-service p span{display:inline-block; padding:24px 0; color:#9b9899; font-size:16px;}
.no-service p a{display:inline-block; width:196px; height:52px; text-align: center; line-height: 52px; background:#5ba77f; color:#fff;}
.part1  ul li.btn-box{width:100%;}
.part1  ul li.btn-box a{width:45%; float:left; margin-right:10px;}

.detail-progressBar{width:380px;height:12px;border:1px solid #98AFB7;border-radius:5px;margin-top:10px;}
#detail-bar{width:0px;height:12px;border-radius:5px;background:#57ac7f;}

.begin-to-study {
    position: fixed;
    top: 100px;
    right: 80px;
}
.study-info {
    background-color: #FFFFFF;
    padding: 10px 15px;
    display: none;
}

.study-img {
    height: 87px;
    display: inline-block;
    width: 100px;
    float: right;
    background-image: url(../imgs/study.png);
}
.begin-to-study:hover .study-img {
    background-image: url(../imgs/study_hover.png);
}

.begin-to-study:hover .study-info {
    display: inline-block;
    transition: display 1s;
}

.index_span {
    display: block;
    line-height: 40px;
    font-size: 20px;
}

.index_dialog {
    position: fixed;
    top: 100px;
    left: 300px;
    z-index: 99;
    border-radius: 4px;
    width: 550px;
    height: 360px;
    background-color: #fff;
}

.dlg_close {
    background: transparent url(../imgs/dialog.png) 0px -16px no-repeat;
    position: absolute;
    top: 8px;
    right: 9px;
    width: 16px;
    height: 16px;
    cursor: pointer;

}

.dlg_title {
    height: 70px;
    text-align: center;
    width: 65%;
    line-height: 70px;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 auto;
    border-bottom: solid 1px #9b9899;
    color: #088665;
}

.login {
    width: 65%; margin: 0 auto; text-align: center; padding-top: 10px; color: #666666;
}

.login_div {
    height: 40px;
    line-height: 40px;
    width: 300px;
    margin: 20px auto;
    text-align: left;
}

.login_input_div {
    border: solid 1px gray;
    border-radius: 4px;
}

.login_span {
    width: 40px;
    height: 40px;
    float: left;
    display: inline-block;
}
.user_name {
    background: url(../imgs/username.png) no-repeat center center;
}
.user_pwd {
    background: url(../imgs/userpwd.png) no-repeat center center;
}

.login_input {
    width: 240px;
    border: none;
}

.login_button {
    width: 300px;
    height: 42px;
    text-align: center;
    line-height: 32px;
    color: #ffffff;
    background: #0a9d74;
    font-size: 18px;
    border: none;
    border-radius: 4px;
}